@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
main,
header,
.footer-container {
  max-width: 1440px;
  margin-inline: auto;
}
body {
  background-color: rgba(0, 0, 0, 0.95);
}
/* Shared Styles */
.btn-primary {
  width: 220px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.btn-secondary {
  width: 220px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.section-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  max-width: 650px;
  text-align: center;
  margin: 1rem auto;
}
.section-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  max-width: 650px;
  margin: 1rem auto 2rem;
}
/* Header Section */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  padding-inline: 190px;
}
.nav-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.nav-menu-title {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
}
.nav-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 42px;
  padding: 4px;
}

.nav-menu-list a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.nav-menu-list .active-menu {
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
}
#expand-menu {
  display: none;
}
/* Hero Section */
.hero-section-container {
  height: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: clip;
}
.hero-left-content {
  max-width: 520px;
}
.hero-title {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  max-width: 520px;
}
.shape-style {
  font-family: "Imperial Script", cursive;
  font-size: 90px;
}
.hero-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 28px 0;
}
.hero-btn-container {
  display: flex;
  gap: 1rem;
}

.hero-right-content {
  height: 580px;
}

.btn-350 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  position: absolute;
  bottom: 70px;
  left: -115px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.54);
  max-width: 206px;
  height: 96px;
}

.btn-350-title {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 0.5rem;
}

.btn-350-subtitle {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.color-box-350 {
  background: rgb(230, 83, 60);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.hero-img {
  position: relative;
  margin-inline: auto;
  width: fit-content;
}
.hero-img img {
  height: 100%;
  display: block;
}
.btn-500 {
  max-width: 200px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 120px;
  right: -60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
.btn-500-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.btn-500-subtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

/*Habit Image Container */
.change-habit-container {
  margin: 100px 190px;
}
.habit-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
.habit-img-card img {
  border-radius: 50%;
  border: 4px solid #333333;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.habit-img-container h4 {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.habit-img-container p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.3px;
  text-align: center;
}
.util {
  border: 2px dashed red;
}

/* Extra Mile Section */
.extra-mile-container {
  margin-inline: 190px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.extra-mile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extra-mile-left .section-title,
.extra-mile-left .section-description {
  text-align: left;
}
.extra-mile-img {
  width: 45%;
  height: 320px;
  border-radius: 18px;
  overflow: hidden;
  background-image: url("../assets/images/run.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* BMI Section */
.bmi-section {
  margin: 100px auto;
}
.bmi-container {
  background: rgb(34, 34, 34);
  padding: 52px 190px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.bmi-container-title {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
}
.bmi-container-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 2rem auto 1rem;
}
.bmi-left-side {
  width: 50%;
}
.bmi-left-side table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2.5rem;
}

.bmi-left-side th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  padding: 0.8rem;
  text-align: left;
}
.bmi-left-side td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  padding: 0.8rem;
}

.bmi-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.bmi-form input,
.bmi-form select {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  outline: none;
}

.bmi-form select option {
  background: #333333;
  outline: none;
  border: none;
}
.activity-list {
  grid-column: auto / span 2;
}
/* Meet Team Section */
.meet-team-container {
  margin: 100px 190px;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 1.25rem;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
}
.team-list figure {
  position: relative;
}
.team-list > figure img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.9;
}
.trainer-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.trainer-info h4 {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  text-overflow: ellipsis;
}
.trainer-info p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Footer */
footer {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 60px 190px 30px;
}
.footer-container {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.footer-left {
  width: 45%;
}
.footer-left h3 {
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
  margin-bottom: 1rem;
}
.footer-left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.footer-right-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.footer-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}
.footer-right-content h4 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
.footer-right-content a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  line-height: 120%;
}
.footer-copyright {
  max-width: 1440px;
  color: rgba(255, 255, 255, 0.5);
  margin: 2rem auto 0;
  padding-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

/* Responsive for Large Device (1200px) */
@media screen and (max-width: 1200px) {
}

/* Responsive Design for Tablet */
@media screen and (max-width: 992px) {
  header,
  footer {
    padding-inline: 2rem;
  }
  .nav-menu-list {
    gap: 1.5rem;
  }
  .hero-title {
    text-align: center;
  }
  .change-habit-container,
  .extra-mile-container,
  .meet-team-container {
    margin: 3rem 2rem;
  }
  .bmi-section {
    margin: 3rem auto;
  }
  .hero-section-container {
    height: auto;
    flex-direction: column;
  }
  .habit-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bmi-left-side {
    width: 100%;
  }
  .bmi-container {
    padding: 3rem 2rem;
    flex-direction: column;
  }
  .extra-mile-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-left > button {
    width: 100%;
  }
}
/* Changing Menu for Medium Devices */
@media screen and (max-width: 768px) {
  .nav-menu-list {
    display: none;
  }
  #expand-menu {
    display: block;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-right-container {
    justify-content: space-around;
  }
  .footer-left {
    width: 100%;
  }
}
/* Responsive Design Mobile */
@media screen and (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }
  .section-description {
    font-size: 0.875rem;
    margin: 1rem auto 1.5rem;
  }
  header,
  footer {
    padding-inline: 1rem;
    overflow: hidden;
  }
  .nav-menu-list {
    display: none;
  }
  #expand-menu {
    display: block;
  }
  /* Hero Section */
  .hero-section-container {
    display: block;
    height: auto;
  }
  .hero-title {
    font-size: 2.25rem;
  }
  .shape-style {
    font-size: 3rem;
    margin-right: 8px;
  }
  .hero-btn-container {
    justify-content: center;
  }
  .btn-primary,
  .btn-secondary {
    width: 170px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }

  .btn-500 {
    padding: 0.75rem 1rem;
    height: auto;
    top: 40px;
    right: -2px;
  }
  .btn-500-title {
    font-size: 1.5rem;
    line-height: 25px;
  }
  .btn-500-subtitle {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }
  .btn-350 {
    height: auto;
    padding: 1rem;
    bottom: 250px;
    left: 10px;
  }
  .btn-350-title {
    font-size: 1.125rem;
    line-height: 1rem;
  }

  .btn-350-subtitle {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  /* Habit Section */
  .change-habit-container {
    margin: 2rem 1rem;
  }
  .habit-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Extra Mile Section */
  .extra-mile-container {
    margin: 2rem 1rem;
    padding: 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }
  .extra-mile-left {
    display: block;
  }
  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-left > button {
    width: 100%;
  }
  /* BMI Section */
  .bmi-section {
    margin: 2rem auto;
  }
  .bmi-container {
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 2rem;
  }
  .bmi-section .section-description {
    margin-inline: 1rem;
  }
  .bmi-container-description,
  .bmi-left-side table {
    margin: 1rem auto;
  }
  .bmi-left-side {
    width: 100%;
  }
  .bmi-form input,
  .bmi-form select {
    width: 100%;
  }
  /* Meet Our Team */
  .meet-team-container {
    margin: 2rem 1rem;
  }
  .team-list {
    grid-template-columns: 1fr;
  }
  /* Footer */
  .footer-container,
  .footer-right-container {
    flex-direction: column;
    gap: 2.25rem;
  }
  .footer-left {
    width: 100%;
  }
}
